/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

#top #socket .social_bookmarks {
	position: absolute;
	right: 0;
}

.page-id-26 .grid-content {
	height: 82px;
}

#evcal_widget .evcal_month_line {
	display: none;
}

.page-id-9 .grid-content {
	min-height: 84px;
}

.widget-title {
	font-size: 14px;
	line-height: 1.1em;
	margin-bottom: 8px;
	text-transform: uppercase;

}

ul.ABt_testimonials_slide {
	position: relative !important;
}

.source {
	display: block !important;
	float: none !important;
	position: relative !important;

}

.testimonial_big {
	padding-left: 0px !important;
	border: none !important;
	overflow: visible !important;
	padding-bottom: 20px;
}

.testimonials_item {
	height: auto !important;
}

.av-main-nav > li > a {
	font-size: 15px;
}

#shopping-cart {
	z-index: 10000 !important;
}

.avia_codeblock_section form {
	text-align: center;
	width: 100% !important;
	display: block;
}


/*Kill image hover */
*:hover .image-overlay{
	display: none !important;
}

/*Fonts*/
* {
	font-family: 'Source Code Pro' !important;
}


/* ===============
	Base CSS
===============*/

html {
	margin: 20px 20px 40px 20px;
	border: solid 15px black;
	border-bottom-width: 0;
	background-color: white;
}

a#scroll-top-link {
	display: none;
}


/* ===============
	Header CSS
===============*/

body#top div#wrap_all header#header {
	position: initial;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}

body#top div#wrap_all header#header #header_meta {
	height: 40px;
	padding: 15px 0;
	display: table;
	box-shadow: none;
	float: right;
	background-color: transparent;
}

body#top div#wrap_all header#header #header_meta .container {
	width: auto;
	height: inherit;
	display: inline-block;
	background-color: transparent;
}

body#top div#wrap_all header#header #header_meta .container form {
	float: left;
}

body#top div#wrap_all header#header #header_meta .container form div input {
	position: initial;
}

body#top div#wrap_all header#header #header_meta .container form div input[type=submit] {
	color: black;
	float: left;
	background-color: white;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	margin: 0 20px;
	font-size: 1.6em;
	font-family: 'entypo-fontello' !important;
}

body#top div#wrap_all header#header #header_meta .container form div input[type=text] {
	float: right;
	display: none;
}

body#top div#wrap_all header#header #header_main {
	border: none;
	z-index: 100;
	float: left;
	clear: none;
}

body#top div#wrap_all header#header #header_main .container {
	height: inherit;
	position: relative;
}

body#top div#wrap_all header#header #header_main .container strong.logo {
	position: initial;
	overflow: initial;
	margin: 20px 10px 0 20px;
}

body#top div#wrap_all header#header #header_main .container strong.logo a {
	height: 130px;
	margin
}

body#top div#wrap_all header#header #header_main .container strong.logo a img {
	padding: 0;
}

body#top div#wrap_all header#header #header_main .container nav.main_menu {
	position: absolute;
	bottom: 0;
	right: initial;
	display: inline-block;
	height: 46px;
}

body#top div#wrap_all header#header #header_main .container nav.main_menu div ul li {
	/*float: none;*/
}

body#top div#wrap_all header#header #header_main .container nav.main_menu div ul li a {
	width: 140px;
	height: 46px;
	color: white;
	background-color: black;
}

body#top div#wrap_all header#header #header_main .container nav.main_menu div ul li:last-child a {
	padding-right: 13px;
}

body#top div#wrap_all header#header #header_main .container nav.main_menu div ul li a span.avia-menu-text {
	display: block;
	height: 100%;
	font-weight: 400;
	line-height: 3.3;
	font-size: .9em;
}

body#top div#wrap_all header#header #header_main .container nav.main_menu div ul li a span.avia-menu-fx {
	display: none;
}

/* ===============
	Social Bookmarks
===============*/

ul.social_bookmarks {
	height: inherit !important;
	float: left !important;
	margin: 0 !important;
}

ul.social_bookmarks li {
	border: none !important;
	display: table !important;
}

ul.social_bookmarks li:hover a {
	background-color: transparent !important;
}

ul.social_bookmarks li a {
	font-size: 22px !important;
	display: table !important;
	width: 20px !important;
	line-height: 38px !important;
	color: black !important;
	margin: auto !important;
	float: none !important;
}

/* ===============
	Body CSS
===============*/

body#top div#wrap_all div#main {
	padding: 10px;
}

body#top div#wrap_all div#main .container_wrap .container {
	width: 100%;
}

/*Column Structure*/
body#top div#wrap_all div#main .container_wrap .container > * {
	display: inline-block;
	float: left;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.one_col {
	width: 25% !important;
}

.two_col {
	width: 50% !important;
}

.three_col {
	width: 75% !important;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .sort_width_container {
	display: none;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(1) {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 40px;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(2),
body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(3) {
	width: 50%;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(2) {
	padding-right: 10px;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(3) {
	padding-left: 10px;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry {
	position: initial !important;
	float: left;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry article.inner-entry {
	box-shadow: none;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(1) article.inner-entry .grid-image {
	height: 30vw !important;
	background-color: black !important;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry:nth-of-type(1) article.inner-entry .grid-image img {
	height: 100% !important;
	width: auto !important;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry article.inner-entry .grid-content {
	padding: 20px 0;
	text-align: left;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry article.inner-entry .grid-content .avia-arrow {
	display: none;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry article.inner-entry .grid-content header h3{
	font-size: 2em;
	margin-bottom: 5px;
	font-weight: bold;
}

body#top div#wrap_all div#main .container_wrap .container .template-page article .entry-content-wrapper .entry-content .flex_column .grid-sort-container div.grid-entry article.inner-entry .grid-content .grid-entry-excerpt {
	font-style: normal;
	color: black;
}


/* ===============
	Homepage > Subscribe Widget
===============*/

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget {
	padding: 20px;
	background-color: black !important;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget h3 {
	color: white;
	text-transform: initial;
	margin: 0px 0 15px 0;
	line-height: 1.4em;
	font-weight: 400;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=email] {
	width: 100%;
	padding: 10px 20px;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=email]::-webkit-input-placeholder {
	color: black;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=email]:-moz-placeholder { /* Firefox 18- */
	color: black;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=email]::-moz-placeholder {  /* Firefox 19+ */
	color: black;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=email]:-ms-input-placeholder {
	color: black;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .homepage_widget .textwidget form#subForm div input[type=submit] {
	background-color: transparent;
	color: white;
	float: right;
	padding: 1em;
	font-size: 1em;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release {
	margin: 20px 0 0 0;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li {
	display: inline-block;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li p {
	margin: 0;
	width: 100%;
	float: left;
}

body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li p.featured_release_header {
 	font-weight: bold;
 	font-size: 1.2em;
 }

 body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li p.featured_release_title {
 	margin-bottom: 5px;
 }

 body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li p.via_records_link a {
 	float: right;
 	font-size: .8em;
 	text-decoration: underline;
 }

body#top div#wrap_all div#main .container_wrap .container .one_col .featured_release li img {
	float: left;
}


/* ===============
	Homepage > Social
===============*/

body#top div#wrap_all div#main .container_wrap .container .one_col ul.featured_social {
	float: left;
	margin: 0;
	width: 100%;
}

body#top div#wrap_all div#main .container_wrap .container .one_col ul.featured_social li {
	float: left;
	border-top: 1px solid;
	color: black;
	padding: 10px 0;
	width: 100%;
}

body#top div#wrap_all div#main .container_wrap .container .one_col ul.featured_social li * {
	width: 100%;
	word-wrap: break-word;
}

body#top div#wrap_all div#main .container_wrap .container .one_col ul.featured_social li * a,
body#top div#wrap_all div#main .container_wrap .container .one_col ul.featured_social li * a *  {
	color: black !important;
	text-decoration: underline;
}


/* ===============
	About
===============*/

.container#about .one_col,
.container#about .two_col {
	clear: none;
}

/* ===============
	About > Calendar
===============*/

.container#about .two_col .via_calendar {
	width: 100%;
	float: left;
	padding: 20px;
	background-color: #F2F2F2;
	margin-bottom: 20px;
}

.container#about .two_col .via_calendar .via_calendar_header,
.container#about .two_col .via_calendar ul {
	margin: 0;
}

.container#about .two_col .via_calendar .via_calendar_header {
	padding: 20px 0;
	border-top: 1px solid black;
}

.container#about .two_col .via_calendar .via_calendar_entries {
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

.container#about .two_col .via_calendar .via_calendar_entries li span {
	margin-right: 10px;
}

.container#about .two_col .via_calendar .via_calendar_entries li span.via_calendar_date,
.container#about .two_col .via_calendar .via_calendar_entries li span.via_calendar_time {
	font-weight: bold;
}

/* ===============
	About > Description
===============*/

.container#about .two_col .page {
	display: inline-block;
}

.container#about .two_col .page .section .layoutArea .column p:first-of-type {
	font-size: 1.8em;
	line-height: 1.3;
}

/* ===============
	About > Follow
===============*/

.container#about .one_col .about_follow {
	margin-bottom: 40px;
	display: inline-block;
}

.container#about .one_col .about_follow img {
	width: 30%;
	margin-bottom: 20px;
}

.container#about .one_col .about_follow strong {
	width: 100%;
	font-size: 1.6em;
	display: block;
	margin-bottom: 5px;
}

.container#about .one_col .about_follow p:last-of-type {
	margin-bottom: 0;
}

/* ===============
	About > Board
===============*/

.container#about .one_col .page {
	display: inline-block;
}

.container#about .one_col .page .section .layoutArea .column h3 {
	margin-top: 10px;
}

.container#about .one_col .page .section .layoutArea .column h3 span {
	width: 100%;
	display: inline-block;
}

.container#about .one_col .page .section .layoutArea .column p {
	margin: 0;
	font-size: 0.8em;
    	line-height: 1.4em;
}

.container#about .one_col .page .section .layoutArea .column p span {
	display: block;
	margin-top: 5px;
}

/* ===============
	About > Staff
===============*/

.container#about .one_col .post-entry .entry-content-wrapper {
	padding: 0;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .avia-image-container {
	width: 40%;
	margin: 0;
	float: left;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .avia-image-container .avia-image-container-inner img {
	border-radius: 0;
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section:first-of-type {
	padding-left: 10px;
	width: 60%;
	height: 8.8vw;
	position: relative;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section:first-of-type .avia_textblock {
	position: absolute;
	bottom: 0;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section:first-of-type .avia_textblock p {
	margin: 0;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column br {
	display: none;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section {
	display: inline-block;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section .avia_textblock h4 {
	display: none;
}

.container#about .one_col .post-entry .entry-content-wrapper .entry-content .flex_column .av_textblock_section .avia_textblock {
	line-height: 1.4;
}



/* ===============
	Footer CSS
===============*/

body#top div#wrap_all footer .container {
	width: auto;
	margin: 0 15px 0 0;
}

body#top div#wrap_all footer .container span.copyright {
	float: right;
	text-transform: uppercase;
}

body#top div#wrap_all footer .container ul {
	display: none;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}